header
{
	z-index: 1;
	width: 97%;
	position: fixed; top: 1%;
    background-color: #5D1924;
	border-radius: 4px;
	box-shadow: 4px 3px 5px rgb(20,20,20);
}
nav ul
{
	display: block;
	align-self: center;
    align-content: center;
    text-align: center;
}
nav ul li
{
	margin: 2%;
	display:inline-block;
}
nav ul li a
{
	padding: 15px;
	color: rgb(230,230,230);
	text-decoration: none;
	font-family: verdana;
	font-size: 95%;
	font-weight: bold;
	border-radius: 4px;
}
nav ul li a:hover
{
	background-color: #4D1924;
	color: rgb(255,200,142);
	text-decoration: none;
	font-family: verdana;
	font-size: 95%;
	font-weight: bold;
}
#logo
{
	width: 15%;
	margin-left: -2%;
	float:left;
}
body
{
	background-image: url(image/back.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
 #titre
{
	text-shadow: 4px 3px 5px rgb(20,20,20);
	font-weight: bold;
	font-family: 'Consolas';
	text-align: center;
	color: rgb(200,200,200);
	margin-top: 23%;
	margin-bottom: 25%;
}
#main
{
	padding-top: 12px;
	margin:-8px; 
	background-color: rgb(230,230,230);
	margin-bottom: -18px;
}
.titreaside
{
	width: 550px;
	height: 30px;
    transition: padding-top 1s ease-in;
    background-size: 100%;
    display: inline-block;
}
.titreactu
{
	margin-bottom: 40%;
	color: white;
	font-family: verdana;
}
.suite
{
	color: white;
	font-family: verdana;
}
.imageactu
{
	position: 0%;
    width: 60%;
    margin-bottom: 15%;
}
footer
{
	text-align: center;
	font-size: 16px;
	background-color: #4D0914;
	margin-left:-8px;margin-right: -8px;
	padding-left: 1%;padding-right: 5%;
    margin-bottom: -10%;
    padding-bottom: 2%;
    display: block;
}
.contact
{   
	display: inline-block;
}
.foottitle
{
	color: white;
	margin-left: 3%;
}
#ada
{
	background-color: white;
	padding: 2px;
    width: 20%;
}
.ad
{
	margin-top: 2%;
	margin-left: 2%;
	border:solid black 1px;
	transition: opacity 3s ease-out;
	position: relative;
	width: 22%;
}

#stylefoot
{
	color: white;
	font-weight: bold;	
	font-style: italic;
	font-family: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-right: -5%;
	margin-left: -2%;
	background-color: #6D2934;
    text-align: center;
    font-size: 18px;
}
.link
{
	text-decoration: none;
	color: rgb(250,185,120) ;
}
.link:hover
{
	color: blue;
}
.logo
{
	width: 40%;border-radius: 200px;
	margin-bottom: 15%;
}
td
{
	width: 5%;
}
#pub
{
	margin-left:  10%;
	display: inline-block;
}
.log
{
	margin-top: 2%;width: 22%;border-radius: 200px;
}
.actu
{
	margin: 1%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 400px;
	box-shadow: 4px 3px 5px rgb(20,20,20);
}
.slideText
{
	display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100%;
    transition: padding-top 200ms ease-out;
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .8));
}
.article
{
	font-weight: bold;
	font-family: verdana;
	font-size: 40px;
	color: #5D1924;
	text-shadow: 2px 2px 5px rgb(20,20,20);
}
#eni
{
	width: 300px;float: left;box-shadow:4px 3px 5px black;
	margin-left: 5%; margin-right: 1%;
}
#imageclub
{
	float: right;
	width: 250px;
	margin-right: 4%;
	box-shadow:4px 3px 5px black;
	margin-top: 5%;
}
.present
{
    font-family: verdana;
    margin-top: 10%;	
}
#competimage
{
	width: 275px;float: left;box-shadow:4px 3px 5px black;
	margin-top: 6%;
	margin-left: 5%; margin-right: 1%;
}
#futur
{
	float: right;
	width: 250px;
	margin-right: 4%;
	box-shadow:4px 3px 5px black;
	margin-top: 5%;
}
#fierte
{
	width: 275px;float: left;box-shadow:4px 3px 5px black;
	margin-top: 6%;
	margin-left: 5%; margin-right: 2%;
}
#apropos
{
	padding-bottom: 10%;
	text-align: center;
	background-color: #4D0914;
}
#bouton
{
	margin-top: 100%;
	text-decoration: none;
	color: white;
    font-family: verdana;
    background-color: green;
    font-size: 25px;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    margin-left: 20%;
}
#bouton:hover
{
	background-color: rgb(10,200,10);
}
#bouton:active
{
	background-color: green;
}