body{
    margin: 0;
    padding: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('image/background.jpg');
    background-size: 100%;
}

nav ul{
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

nav ul li{
    padding: 0;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 25%;
    text-align: center;
    font-family: cursive;
}